.burgerMenu {
    position:  absolute;
    vertical-align: middle;
}

.burgerIcon {
    background: transparent;
    width: 30px;
    height: 25px;
    border: 0;
    position: relative;
    cursor: pointer;
    z-index: 10000;
}

.line {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.3s linear;
}

.top {
    top: 0;
}

.middle {
    top: calc(50% - 4px / 2);
}

.bottom {
    bottom: 0;
}

.open > .top, .open > .bottom {
    opacity: 0;    
}

.open > .clockwise {
    transform: rotate(45deg);
}

.open > .counterClockwise {
    transform: rotate(-45deg);
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .burgerMenu {
        top: 50%;
        right: 50px;
        transform: translateY(-50%);
        display: block;
        z-index: 21;
    }

    .burgerIcon {
        width: 45px;
        height: 45px;
    }

    .open > .clockwise {
        width: 45px;
    }

    .open > .counterClockwise {
        width: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .burgerIcon {
        display: none;
    }
}
