:root {
    --font-heading-primary: var(--font-audiowide);
    --font-heading-secondary: var(--font-exo2)
    --font-body: var(--font-montserrat);
    --font-other: var(--font-lato)
    --primary-color: #00ffff;
    --secondary-color: #ff007f; /* Rose néon */
    --background-color: #0a001f; /* Fond sombre */
    --text-color: #ffffff; /* Texte blanc */
    --border-glow: 0 0 10px var(--primary-color); /* Glow cyan */
    --button-hover-glow: 0 0 15px var(--secondary-color);
}